VITE_SUPABASE_URL=https://tbhfcrbskfnsfkulxrwz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRiaGZjcmJza2Zuc2ZrdWx4cnd6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU4Nzg2NTcsImV4cCI6MjA5MTQ1NDY1N30.TgLqh08Pd4GglE-EGcQ3b9hNAOgOSfR4DqL2NPbvg5k
VITE_GEMINI_API_KEY=AIzaSyBvAdl3bGwvCteTQqe5iJwTxaDFfsCOiTc
